@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes opacityLowToHigh {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes scale {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: "Lato", sans-serif;
  font-weight: 400;
  /*
        font-size: 16px;
     */
  line-height: 1.7;
  padding: 3rem; }

.heading-primary--main {
  font-size: 5rem;
  color: #404041; }
  .heading-primary--main-neon {
    color: #086894; }

.heading-primary--category {
  font-size: 3.5rem;
  color: #404041;
  margin-bottom: 6rem; }

.heading-primary--sub {
  font-size: 3rem;
  color: #4d4d4f; }

.paragraph {
  font-size: 1.8rem; }

.u-margin-top-small {
  margin-top: 2.3rem !important; }

.navigation__logo {
  font-size: 2.5rem;
  text-decoration: none;
  display: inline-flex;
  margin-left: 2rem;
  gap: 1rem;
  color: #404041; }
  .navigation__logo--mylogo {
    width: 2.3rem; }

.navigation__nav {
  display: flex;
  list-style-type: none; }
  .navigation__nav--item {
    display: inline-block;
    padding: 1rem 2rem; }
    .navigation__nav--item--link {
      font-size: 1.9rem;
      color: #4d4d4f;
      text-decoration: none; }
    .navigation__nav--item::after {
      content: "";
      display: block;
      width: 100%;
      height: .25rem;
      background-color: transparent; }
    .navigation__nav--item:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: .25rem;
      background-color: #086894; }
    .navigation__nav--item:hover .navigation__nav--item--link {
      color: #086894; }
  .navigation__nav--item:not(:first-child) {
    margin-left: .5rem; }

.social__nav {
  list-style-type: none;
  display: flex;
  gap: 2rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120rem;
  padding-right: 2rem;
  margin: 0 auto;
  border-bottom: 1px solid #c5bdb6; }

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120rem;
  margin: auto;
  padding: 12rem 2rem;
  animation: moveInLeft 2s ease-in-out; }
  .main .hero {
    width: 50%; }
  .main .heroimg__profileimg {
    width: 37rem;
    border-radius: 40px; }

.skills {
  width: 120rem;
  margin: auto;
  padding: 2rem; }
  .skills__title {
    position: relative; }
    .skills__title::after {
      content: "";
      position: absolute;
      display: block;
      width: 4rem;
      height: .3rem;
      background-color: #086894;
      top: 5rem;
      left: 4rem; }
  .skills__container {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 2rem; }
    .skills__container--card {
      display: flex;
      align-items: center;
      padding: 2.5rem;
      width: 37.2rem;
      height: 10rem;
      gap: 2rem;
      border-radius: .5rem;
      border: 1px solid #c5bdb6;
      border-left: 0.5rem solid #086894;
      color: #000; }
      .skills__container--card-img {
        width: 5.5rem; }
      .skills__container--card-title {
        font-size: 2rem;
        font-weight: bold; }
