$default-font-size: 1.8rem;

$color-primary :  #404041;
$color-primary-light: #4d4d4f;

$color-secondary: #c5bdb6;


$color-gradient: black;

$color-white : #fff;
$color-black : #000;
$color-blue : #086894;