$default-font-size: 1.8rem;
$container-width : 120rem;

$color-primary :  #fff;
$color-primary-light: #4d4d4f;

$color-secondary: #c5bdb6;
$color-main-secondary : #4DFFFF;


$color-gradient: black;

$color-white : #fff;
$color-black : #000;