$color-primary :  #404041;
$color-secondary: #F6EDE3;
$color-gradient: linear-gradient(to right, #D3CAE2 , #E6C17A);

$color-white : #fff;
$color-black : #000;

body {
    background-image: $color-gradient;
}

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/header";
@import "layout/grid";

@import "pages/home";

