.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    padding-right: 2rem;
    margin: 0 auto;
    border-bottom: 1px solid $color-secondary;
}