.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $container-width;
    margin: auto;
    padding: 12rem 2rem;
    animation: moveInTop 2s ease-in-out;

    .hero {
        width: 50%;
    }

    .heroimg {
        &__profileimg {
            width: 37rem;
            border-radius: 40px;
        }
    }
}