.skills {
    width: $container-width;
    margin: auto;
    padding: 2rem;

    &__title {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 4rem;
            height: .3rem;
            background-color: $color-blue;
            top: 5rem;
            left: 4rem;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        gap: 2rem;

        &--card {
            display: flex;
            align-items: center;
            padding: 2.5rem;
            width: 37.2rem;
            height: 10rem;
            gap: 2rem;
            border-radius: .5rem;
            border: 1px solid $color-secondary;
            // border-left: .5rem solid $color-blue;
            color: $color-black;
            transition: all .5s ease-in-out;

            &-img {
                width: 5.5rem;
            }

            &-title {
                font-size: 2rem;
                font-weight: bold;
            }

            &:hover {
                transform: scale(1.01);
                &::after {
                    content: "";
                    border-top: 2px solid $color-blue;
                    border-bottom: 2px solid $color-blue;
                    border-left: 2px solid $color-blue;
                    width: 50%;
                    left: 0;
                    top: 0;
                    height: 100%;
                    position: absolute;
                    animation: backgroundColorChange .3s ease-in;
                }

                &::before {
                    content: "";
                    border-top: 2px solid $color-blue;
                    border-bottom: 2px solid $color-blue;
                    border-right: 2px solid $color-blue;
                    width: 50%;
                    right: 0;
                    top: 0;
                    height: 100%;
                    position: absolute;
                    animation: backgroundColorChange2 .3s ease-in;
                }
            }
        }
    }
}