.skills {
    width: $container-width;
    margin: auto;
    padding: 7rem 2rem;

    &__title {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 4rem;
            height: .3rem;
            background-color: $color-main-secondary;
            top: 5rem;
            left: 4rem;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        gap: 2rem;

        &--card {
            display: flex;
            align-items: center;
            padding: 2.5rem;
            width: 37.2rem;
            height: 10rem;
            gap: 2rem;
            border-radius: .5rem;
            border: 1px solid $color-main-secondary;
            color: $color-white;
            transition: all .5s ease-in-out;

            &-img {
                width: 5.5rem;
                transition: all .5s;
            }

            &-title {
                font-size: 2rem;
                font-weight: bold;
            }

            &:hover {
                transform: scale(1.02);
                // background-color: white;
                // color: black;
                border: none;
                .skills__container--card-img {
                    transform: scale(1.4) rotate(-20deg);
                }
                
                &::after {
                    content: "";
                    width: 100%;
                    left: 0;
                    top: 0;
                    height: 100%;
                    position: absolute;
                    animation: neonLight 1s infinite;
                }
            }
        }
    }
}