@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes opacityLowToHigh {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes backgroundColorChange {
    0% {
        transform: translateX(-3rem) scale(1.03);
        opacity: 0.5;
    }

    100% {
        transform:  translateX( 0rem) scale(1);
        opacity: 1;
    }
}

@keyframes backgroundColorChange2 {
    0% {
        transform: translateX(3rem) scale(1.03);
        opacity: 0.5;
    }

    100% {
        transform:  translateX(0rem) scale(1);
        opacity: 1;
    }
}

// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
