body {
    font-size: "Lato", sans-serif;
    font-weight: 400;
    background-color: black;
    /*
        font-size: 16px;
     */
    line-height: 1.7;
    padding: 1.5rem 2rem 2rem 2rem;
}

.heading-primary {
    
    &--main {
        font-size: 6.5rem;
        &-neon {
            color: $color-main-secondary;
        }
    }
    
    &--category {
        font-size: 3.5rem;
        color: $color-primary;
        margin-bottom: 6rem;

    }

    &--sub {
        font-size: 3rem;
        color: $color-white;
        // animation: moveInRight 1s ease-in-out;
    }

}

.paragraph {
    font-size: $default-font-size;
    color: $color-white;
}